* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #10141e;
  height: 100vh;
  width: 100%;

  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(252, 71, 71);
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 50px;
  }

  #section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

    header {
      padding-inline: 20px;
      padding-block: 20px;
      width: 100%;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 33;

      .product-header {
        background-color: #161d2f;
        width: 100%;
        padding-inline: 20px;
        padding-block: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 17px;

        .header-div {
          max-width: 26px;

          svg {
            font-size: 23px;
            color: rgb(252, 71, 71);
          }
        }

        nav {
          .navbar-list {
            display: flex;
            gap: 17px;
            flex-direction: row;

            li {
              a {
                ion-icon {
                  color: #5a698f;
                  font-size: 20px;

                  &:hover {
                    color: rgb(252, 71, 71);
                  }

                  &.active {
                    color: white;
                  }
                }
              }
            }
          }
        }

        .login {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;

          img {
            max-width: 30px;
            cursor: pointer;
          }

          p {
            font-size: 13px;
            font-family: system-ui;
            color: white;
          }
        }
      }
    }

    #search-product {
      display: flex;
      gap: 10px;
      align-items: center;
      padding-inline: 20px;
      margin-block: 20px;
      max-width: 1400px;
      width: 100%;
      margin-top: 166px;

      .input-div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #fc4747;

        ion-icon {
          color: #fc4747;
          font-size: 20px;
          cursor: pointer;
          display: none;
        }
      }

      input {
        background-color: transparent;
        border: hidden;
        width: 100%;
        padding-block: 20px;
        color: white;
        font-family: system-ui;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #cbd5e0;
        }
      }

      svg {
        color: #cbd5e0;
      }
    }

    #section-slider {
      padding-block: 10px;
      max-width: 1400px;
      width: 100%;

      h3 {
        font-size: 20px;
        font-family: system-ui;
        color: white;
        font-weight: 100;
        padding-inline: 20px;
      }

      .slider {
        padding-left: 20px;
        padding-block: 20px;
        max-width: 1400px;
        overflow: hidden;
        position: relative;

        .products-list {
          display: flex;
          align-items: center;
          gap: 12px;
          list-style: none;
          overflow-x: auto;
          user-select: none;
          padding-bottom: 10px;
          scroll-behavior: auto;

          &::-webkit-scrollbar {
            width: 1px;
            height: 5px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: rgb(252, 71, 71);
            border-radius: 50px;
          }

          &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 50px;
          }

          .product-slide {
            cursor: pointer;
            user-select: none;
            display: flex;
            border-radius: 10px;
            transition-duration: 1.9s;

            .product {
              overflow: hidden;
              position: relative;
              border-radius: 10px;

              .toggle {
                position: absolute;
                top: 0;
                left: 0;
                background-color: #00000080;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                display: none;
                z-index: 1;
                transition-duration: 0.4s;

                .toggle-btn {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 11px;
                  background-color: #ffffff40;
                  border: hidden;
                  color: white;
                  width: 74px;
                  height: 27px;
                  border-radius: 30px;
                }
              }

              &:hover {
                .toggle {
                  display: flex;
                }

                img {
                  transform: scale(1.1);
                }
              }

              img {
                max-width: 238px;
                user-select: none;
                -webkit-user-drag: none;
                object-fit: cover;
                border-radius: 10px;
                transition-duration: 0.9s;
              }

              .product-title {
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: baseline;
                flex-direction: column;
                justify-content: end;
                padding-inline: 10px;
                padding-block: 10px;
                top: 0;

                .product-saved {
                  margin-left: auto;
                  background-color: #10141e80;
                  border: hidden;
                  display: flex;
                  width: 25px;
                  height: 25px;
                  align-items: center;
                  justify-content: center;
                  border-radius: 30%;
                  cursor: pointer;
                  position: absolute;
                  top: 10px;
                  right: 9px;

                  ion-icon {
                    color: white !important;
                    font-size: 15px;
                  }
                }

                .service {
                  .product-service {
                    display: flex;
                    gap: 12px;
                  }

                  h4 {
                    padding-inline: 0;
                    font-size: 16px;
                    font-weight: 400;
                    color: white;
                    font-family: system-ui;
                  }

                  p {
                    font-size: 14px;
                    color: white;
                    font-family: system-ui;
                  }

                  .icon {
                    display: flex;
                    gap: 7px;
                    align-items: center;
                    justify-content: center;

                    ion-icon {
                      color: white;
                      font-size: 15px;
                    }

                    span {
                      font-size: 14px;
                      color: white;
                      font-family: system-ui;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    #section-recommended {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 1400px;
      width: 100%;

      .title-remand {
        padding-inline: 20px;

        h3 {
          font-size: 20px;
          font-family: system-ui;
          color: white;
          font-weight: 100;
        }
      }

      .remand {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-inline: 20px;
        margin-block: 20px;
        max-width: 300px;

        h5 {
          margin-top: 170px;
          font-size: 25px;
          color: #f44336;
          font-family: sans-serif;
          font-weight: 100;
          display: none;
        }

        .remand-list {
          display: grid;
          column-gap: 20px;
          row-gap: 72px;

          li {
            position: relative;
            border-radius: 10px;

            .image {
              position: relative;
              overflow: hidden;
              border-radius: 10px;
              height: 100%;

              .product-saved {
                margin-left: auto;
                background-color: #10141e80;
                border: hidden;
                display: flex;
                width: 25px;
                height: 25px;
                align-items: center;
                justify-content: center;
                border-radius: 30%;
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 9px;
                z-index: 11;

                ion-icon {
                  color: white;
                  font-size: 15px;

                  &.active {
                    color: black;
                  }
                }
              }
            }

            .toggle {
              position: absolute;
              top: 0;
              left: 0;
              background-color: #00000080;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              display: none;
              z-index: 1;
              transition-duration: 0.4s;

              .toggle-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 11px;
                background-color: #ffffff40;
                border: hidden;
                color: white;
                width: 74px;
                height: 27px;
                border-radius: 30px;
              }
            }

            &:hover {
              .toggle {
                display: flex;
              }

              img {
                transform: scale(1.1);
              }
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 10px;
              transition-duration: 0.9s;
            }

            .product-title {
              padding-block: 10px;

              .product-saved {
                margin-left: auto;
                background-color: #10141e80;
                border: hidden;
                display: flex;
                width: 25px;
                height: 25px;
                align-items: center;
                justify-content: center;
                border-radius: 30%;
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 9px;

                ion-icon {
                  color: white;
                }
              }

              .service {
                .product-service {
                  display: flex;
                  gap: 12px;
                }

                h4 {
                  padding-inline: 0;
                  font-size: 16px;
                  font-weight: 400;
                  color: white;
                  font-family: system-ui;
                }

                p {
                  font-size: 14px;
                  color: white;
                  font-family: system-ui;
                }

                .icon {
                  display: flex;
                  gap: 7px;
                  align-items: center;
                  justify-content: center;

                  ion-icon {
                    color: white;
                    font-size: 15px;
                  }

                  span {
                    font-size: 14px;
                    color: white;
                    font-family: system-ui;
                  }
                }
              }
            }
          }
        }
      }
    }

    #product-movies {
      display: none;

      &.active {
        display: flex;
      }
    }
  }
}

@media (min-width: 425px) {
  #section-recommended {
    .remand {
      max-width: 357px !important;
    }
  }
}

@media (min-width: 640px) {
  body {
    #section {
      header {
        padding-inline: 40px !important;

        .product-header {
          flex-direction: row;
        }

        nav {
          .navbar-list {
            li {
              a {
                svg {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }

      #search-product {
        padding-inline: 40px !important;
        margin-top: 100px;
      }

      #section-slider {
        h3 {
          padding-inline: 40px !important;
        }

        .slider {
          padding-left: 40px !important;
        }
      }
    }
  }

  #section-slider {
    .slider {
      .products-list {
        .product {
          img {
            max-width: 382px !important;
          }
        }
      }
    }
  }

  #section-recommended {
    align-items: flex-start !important;

    .title-remand {
      padding-inline: 40px !important;
    }

    .remand {
      max-width: unset !important;
      padding-inline: 40px !important;

      .remand-list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (min-width: 768px) {
  #section {
    header {
      padding-inline: 60px !important;

      .header-div {
        svg {
          font-size: 26px !important;
        }
      }

      nav {
        .navbar-list {
          gap: 20px;

          .ac {
            svg {
              font-size: 15px !important;
            }
          }

          svg {
            font-size: 19px !important;
          }
        }
      }

      .login {
        img {
          max-width: 30px !important;
        }
      }
    }

    #search-product {
      padding-inline: 60px !important;

      input {
        font-size: 15px;
      }
    }

    #section-slider {
      h3 {
        font-size: 19px !important;
        padding-inline: 60px !important;
      }

      .slider {
        padding-left: 60px !important;
      }
    }

    #section-slider {
      h4 {
        font-size: 17px !important;
      }

      .product-saved {
        width: 30px !important;
        height: 30px !important;
      }

      .product-service {
        p,
        span {
          font-size: 14px !important;
        }

        ion-icon {
          font-size: 14px !important;
        }
      }
    }

    #section-recommended {
      .remand {
        padding-inline: 60px !important;
      }

      .title-remand {
        padding-inline: 60px !important;

        h3 {
          font-size: 19px !important;
        }
      }
    }

    #section-recommended {
      h4 {
        font-size: 16px !important;
      }

      .product-saved {
        width: 30px !important;
        height: 30px !important;
      }

      .product-service {
        p,
        span {
          font-size: 14px !important;
        }

        ion-icon {
          font-size: 14px !important;
        }
      }
    }
  }
}

@media (min-width: 922px) {
  #section {
    header {
      padding-inline: 80px !important;
    }

    #search-product {
      padding-inline: 80px !important;
    }

    #section-slider {
      h3 {
        padding-inline: 80px !important;
      }

      .slider {
        padding-left: 80px !important;
      }
    }

    #section-recommended {
      .remand {
        padding-inline: 80px !important;
      }

      .title-remand {
        padding-inline: 80px !important;
      }
    }

    #section-recommended {
      .remand-list {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media (min-width: 1200px) {
  body {
    #section {
      header {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh !important;
        width: unset !important;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        padding-block: 20px !important;
        padding-inline: 20px !important;

        .product-header {
          display: flex;
          height: 100%;
          max-width: 63px;
          position: relative;
          justify-content: space-between;
          flex-direction: column;
          align-items: unset;
          gap: 17px;

          nav {
            position: fixed;
            top: 130px;
          }

          .login {
            flex-direction: column;
            text-align: center;
          }
        }

        .navbar-list {
          display: flex !important;
          gap: 25px !important;
          flex-direction: column !important;
          align-items: center;
        }
      }

      #section-slider {
        h3 {
          font-size: 21px !important;
        }

        .slider {
          .products-list {
            .product {
              img {
                max-width: 419px !important;
              }
            }
          }
        }
      }

      #search-product {
        padding-inline: 100px !important;
        margin-top: 20px !important;
      }

      #section-slider {
        h3 {
          padding-inline: 100px !important;
        }

        .slider {
          padding-left: 100px !important;
        }
      }

      #section-recommended {
        .remand {
          padding-inline: 100px !important;
        }

        .title-remand {
          padding-inline: 100px !important;

          h3 {
            font-size: 21px !important;
          }
        }
      }

      #section-recommended {
        .remand-list {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }

  .form-user {
    top: 9px !important;
  }
}

@media (min-width: 1400px) {
  #section {
    #search-product {
      padding-inline: 120px !important;
    }

    #section-slider {
      h3 {
        padding-inline: 120px !important;
      }

      .slider {
        padding-left: 120px !important;
      }
    }

    #section-recommended {
      .remand {
        padding-inline: 120px !important;
      }

      .title-remand {
        padding-inline: 120px !important;
      }
    }
  }
}
